* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5D4954;
}

.logo {
    color: rgb(228, 228, 228);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-around;

}

.nav-links a {
    color: rgb(228, 228, 228);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 14px;
}

nav li {
    list-style: none;
    display: inline;
}